<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G29</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgfav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Postico Favorite</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.eggerapps.PG-Commander.favorite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pgcommander-license</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PG Commander License File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.eggerapps.PG-Commander.license</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>postico-license</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Postico License File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>at.eggerapps.Postico.license</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Postico</string>
	<key>CFBundleIconFile</key>
	<string>postico</string>
	<key>CFBundleIdentifier</key>
	<string>at.eggerapps.Postico</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Postico</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>PostgreSQL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgres</string>
				<string>postgresql</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Redshift</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>redshift</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PostgreSQL via SSH</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>postgresql+ssh</string>
				<string>postgres+ssh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1751</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8E3004b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E185</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0833</string>
	<key>DTXcodeBuild</key>
	<string>8E3004b</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2016 Egger Apps. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Postico Favorite</string>
			<key>UTTypeIdentifier</key>
			<string>at.eggerapps.PG-Commander.favorite</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eggerapps.at/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pgfav</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PG Commander License File</string>
			<key>UTTypeIdentifier</key>
			<string>at.eggerapps.PG-Commander.license</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eggerapps.at/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pgcommander-license</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Postico License File</string>
			<key>UTTypeIdentifier</key>
			<string>at.eggerapps.Postico.license</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eggerapps.at/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>postico-license</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
